:root {
  --color-text: #efe5e5;
  --color-link: #efe5e5;
  --color-text-inverted: #b3ac99;
  --color-bg: #42423e;
  --color-bg-overlay: #86412f;
  --color-text-preview: #fffaea;
  --color-title-preview: #eba089;
  font-size: 18px;
  --page-padding: 1rem 2rem;
  --preview-padding: 0 2rem 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-weight: 300;
  text-transform: uppercase;
  font-family: acumin-pro, sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 53em) {
  body {
    overflow: hidden;
  }
}

main {
  width: 100%;
  height: 100vh;
  grid-template-rows: auto auto;
  grid-template-columns: 100%;
  display: grid;
}

@media screen and (min-width: 53em) {
  main {
    grid-template-rows: 100%;
  }
}

.oh {
  position: relative;
  overflow: hidden;
}

.oh__inner {
  display: inline-block;
  will-change: transform;
}

.unbutton {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font: inherit;
}

/* 
CONTENT
*/
.content {
  position: relative;
  grid-row: 2;
  z-index: 1;
  line-height: 1;
}

@media screen and (min-width: 53em) {
  .content {
    grid-area: 1/1/-1/-1;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.preview-open .content {
  pointer-events: none;
  z-index: 3;
}

.content__item {
  width: 100%;
  max-width: 500px;
  padding: calc(3rem + 5vh) 2rem 4rem;
}

@media screen and (min-width: 53em) {
  .content__item {
    height: 100%;
    width: 25%;
  }
}

.content__item:nth-child(2n) {
  padding-top: calc(3rem + 15vh);
}

.content__item__title {
  margin-bottom: 0.5rem;
  font-size: clamp(2rem, 3.25vw, 1.85rem);
  font-weight: 300;
  font-family: kudryashev-d-excontrast-sans, sans-serif;
}

.content__item__title .oh__inner {
  padding-top: 0.75vw;
  line-height: 1.2;
}

.content__item__img__wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 0.75;
  overflow: hidden;
  cursor: pointer;
}

.content__item__img {
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
}

.content__item__caption {
  margin-top: 0.75rem;
}

.content__overlay {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  transform: scaleY(0);
  pointer-events: none;
  z-index: 3;
  background: var(--color-bg-overlay);
  will-change: transform;
}

/* 
PREVIEW
*/
.preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  z-index: 4;
  color: var(--color-text-preview);
  pointer-events: none;
}

.preview__item {
  display: grid;
  grid-area: 1/1/-1/-1;
  grid-template:
    'title'
    'subtitle'
    'meta'
    'box-left'
    'box-right'
    '.' 1fr/100%;
  grid-gap: 1rem;
  padding-top: 2rem;
  pointer-events: none;
  opacity: 0;
  will-change: clip-path;
}

@media screen and (min-width: 53em) {
  .preview__item {
    padding-top: 0;
    grid-template:
      'title title title' 1fr
      'box-left subtitle box-right'
      'box-left meta box-right'
      'box-left.box-right'/30% 1fr 30%;
  }
}

.preview__item--current {
  opacity: 1;
  pointer-events: auto;
}

.preview__back {
  position: absolute;
  left: 50%;
  bottom: 2.5rem;
  transform: translate(-50%);
  cursor: pointer;
  z-index: 300;
  pointer-events: auto;
  opacity: 0;
}

.preview-open .preview__back {
  pointer-events: auto;
}

.preview__back svg {
  pointer-events: none;
  stroke: var(--color-text-preview);
  stroke-width: 1px;
  transition: stroke 0.3s;
}

.preview__item__img__outer {
  height: 100%;
  width: 80vw;

  max-width: 800px;
  grid-area: 1/1/-1/-1;
  place-self: center;
}

@media screen and (min-width: 53em) {
  .preview__item__img__outer {
    width: 36vw;
  }
}

.preview__item .content__item__img__wrapper {
  width: auto;
  height: 100%;
  aspect-ratio: auto;
}

.preview__item__title {
  grid-area: title;
  place-self: center;
  padding-top: 1vw;
  font-family: kudryashev-d-excontrast-sans, sans-serif;
  font-size: clamp(3rem, 24vw, 17rem);
  font-weight: 300;
  line-height: 1;
  will-change: transform;
}

@media screen and (min-width: 53em) {
  .preview__item__title {
    grid-row: 1 / span 4;
  }
}

.preview__item__subtitle {
  grid-area: subtitle;
  justify-self: center;
  color: var(--color-title-preview);
  font-weight: 300;
}

.preview__item__meta {
  grid-area: meta;
  justify-self: center;
}

.preview__item__box {
  max-width: 450px;
  padding: var(--preview-padding);
  position: relative;
}

.preview__item__box--left {
  grid-area: box-left;
  text-align: center;
}

@media screen and (min-width: 53em) {
  .preview__item__box--left {
    text-align: left;
    justify-self: start;
  }
}

.preview__item__box--right {
  grid-area: box-right;
  text-align: center;
}

@media screen and (min-width: 53em) {
  .preview__item__box--right {
    text-align: right;
    justify-self: end;
  }
}

.preview__item__box__title {
  color: var(--color-title-preview);
  font-weight: 400;
}

.preview__item__box__description {
  margin: 1rem 0;
  will-change: transform, opacity;
}

/* 
FRAME
*/
.frame {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: var(--page-padding);
  font-size: 0.75rem;
  color: var(--color-text);
  width: 100%;
  z-index: 2;
}

.frame a {
  color: inherit;
  text-decoration: none;
}

.frame__left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 53em) {
  .frame__left {
    flex-direction: row;
    gap: 2rem;
  }
}

.frame__title {
  display: flex;
  align-items: flex-end;
}

.frame__title h1 {
  font-size: 0.75rem;
  font-weight: 300;
}

.frame__title svg {
  fill: currentColor;
}

.frame__prev {
  position: relative;
}

.frame__prev::before {
  content: ' ';
  position: absolute;
  top: 90%;
  background: currentColor;
  width: 100%;
  height: 1px;
  transform-origin: 0%;
  transition: transform 0.3s;
}

.frame__prev:hover.frame__prev::before {
  transform-origin: 100%;
  transform: scaleX(0);
}

/* 
LOADER
*/
.loading::before,
.loading::after {
  content: '';
  position: fixed;
  z-index: 1000;
}

.loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}
